.header {
  padding: 0;
}

.trigger-button {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.user-info {
  float: right;
  padding-right: 24px;
}